*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ADD8E6;

  /* position of the clock */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  background-image: url(clock-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-origin: border-box; */

  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid;

  display: flex;
  justify-content: center;
  align-items: center;

}

.seconds {
  height: 230px;
  width: 1px;
  border: 3px solid gray;
  background: gray;

  position: absolute;
  top: 19%;
  /* left: 50%;
  top: 19%; */

  animation-name: time-run;
  animation-duration: 60s;
  transform-origin: bottom;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;

  z-index: 4;
}

.minutes {
  height: 180px;
  width: 1px;
  border: 3px solid black;
  background: black;

  position: absolute;
  top: 26%;
  /* left: 50%;
  top: 19%; */

  animation-name: time-run;
  /* animation-delay: 6s; */
  animation-duration: 3600s;
  transform-origin: bottom;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
  z-index: 3;
} 

.hours {
  height: 150px;
  width: 1px;
  border: 3px solid black;
  background: black;

  position: absolute;
  top: 30%;
  /* left: 50%;
  top: 19%; */

  animation-name: time-run;
  animation-delay: 5s;
  animation-duration: 43200s;
  transform-origin: bottom;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
} 

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  z-index: 5;
}


@keyframes time-run {
  0% {
    transform: rotate(360deg);
  }
}
